$primary-color: #B1CEC8;
$primary-accent-color: #379683;
$primary-disabled-color: #A5B8B4;

$secondary-color: #A2B2C1;
$secondary-accent-color: #05386B;
$secondary-disabled-color: #A5AFB9;

$ternary-color: #E5C6BE;
$ternary-accent-color: #E27D60;
$ternary-disabled-color: #A5918B;

$bg-light-color: #FFF;
$bg-dark-color: #262730;

$font-light-color: #FAFAFA;
$font-dark-color: #0d0d0d;

