

@font-face {
    font-family: 'KoHo Regular';
    src: local('KoHo Regular'), url(../fonts/KoHo/KoHo-Regular.ttf) format('truetype');
  }
  
  
@font-face {
    font-family: 'Rubik';
    src: local('Jura'), url(../fonts/Rubik/Rubik-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: local('Jura'), url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format('truetype');
}


$font-family-general: 'KoHo Regular', 'Rubik', 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$font-family-koho: 'KoHo Regular';
$font-family-rubik: 'Rubik';
$font-family-montserrat: 'Montserrat';

$font-weight-regular: 600;
$font-weight-bold: 900;
$font-weight-light: 400;

$font-small-size: 14px;
$font-medium-size: 18px;
$font-large-size: 22px;



