.digitalbrain-input {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background-color: #F2F4F7;
    padding-left: 20px;
    font-size: 16px;

    &:focus {
        background-color: #E6EBF1;
    }
}